<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :engineer_id %><br>
    <%= f.grouped_collection_select :engineer_id, @service_centers, :engineers, :name, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :instrument_id %><br>
    <%= f.grouped_collection_select :instrument_id, @makers, :instruments, :name, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :operation_id %><br>
    <%= f.collection_select :operation_id, @operations, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select :status_id, @statuses, :id, :name, include_blank: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
