<h1>Listing certificate maps</h1>

<table>
  <thead>
    <tr>
      <th>Engineer</th>
      <th>Instrument</th>
      <th>Operation</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maps.each do |map| %>
      <tr>
        <td><%= map.engineer.name %></td>
        <td><%= map.instrument.name %></td>
        <td><%= map.operation.name %></td>
        <td><%= map.status.name unless map.status.blank? %></td>
        <td><%= link_to 'Show', map %></td>
        <td><%= link_to 'Edit', edit_map_path(map) %></td>
        <td><%= link_to 'Destroy', map, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Certificate Map', new_map_path %>
