<p id="notice"><%= notice %></p>

<table class="table table-bordered">
	<tr>
		<td class="certificate_table_caption">Engineer</td>
		<td><%= @map.engineer.name %></td>
	</tr>
	<tr>
		<td class="certificate_table_caption">Instrument</td>
		<td><%= @map.instrument.name %></td>
	</tr>
	<tr>
		<td class="certificate_table_caption">Operation</td>
		<td><%= @map.operation.name %></td>
	</tr>
	<tr>
		<td class="certificate_table_caption">Status</td>
		<td><%= @map.status.name unless @map.status.blank? %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
