<h1>Listing engineers</h1>

<table class="table table-bordered">
  <thead>
    <tr class="certificate_table_caption">
      <th>Name</th>
      <th>Service center</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @engineers.each do |engineer| %>
      <tr>
        <td><%= engineer.name %></td>
        <td><%= engineer.service_center.name %></td>
        <td>
        	<%= link_to 'Show', engineer, class: :crud_control %>
        	<%= link_to 'Edit', edit_engineer_path(engineer), class: :crud_control %>
        	<%= link_to 'Destroy', engineer, method: :delete, data: { confirm: 'Are you sure?' }, class: :crud_control %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engineer', new_engineer_path %>
