<p id="notice"><%= notice %></p>

<table class="table table-bordered">
	<tr class="certificate_table_caption">
		<td>Name</td>
		<td><%= @engineer.name %></td>
	</tr>
	<tr class="certificate_table_caption">
		<td>Service center</td>
		<td><%= @engineer.service_center %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
