<p id="notice"><%= notice %></p>

<table class="table table-bordered">
		<tr>
		<td class="certificate_table_caption">Service center</td>
		<td><%= get_attribute(@engineer.service_center, :name) %></td>
	</tr>
	<tr>
		<td class="certificate_table_caption">Name</td>
		<td><%= @engineer.name %></td>
	</tr>
</table>

<%= link_to 'Edit', edit_engineer_path(@engineer) %> |
<%= link_to 'Back', engineers_path %>
