<p id="notice"><%= notice %></p>

<table class="table table-bordered">
	<tr>
		<td class="certificate_table_caption">Name</td>
		<td><%= @instrument.name %></td>
	</tr>
	<tr>
		<td class="certificate_table_caption">Maker</td>
		<td><%= @instrument.maker.name %></td>
	</tr>
</table>

<%= link_to 'Edit', {action: :edit, id: @instrument.id, maker_id: @instrument.maker.id} %> |
<%= link_to 'Back', instruments_path %>
